
# MONGODB_URI: MongoDB Atlas connection string (e.g. mongodb+srv://<user>:<password>@cluster0.mongodb.net/kruti_electronics)
MONGODB_URI=mongodb://krutielectronics1725_db_user:Kishlay1725@ac-fx6o6ga-shard-00-00.nqpzvnd.mongodb.net:27017,ac-fx6o6ga-shard-00-01.nqpzvnd.mongodb.net:27017,ac-fx6o6ga-shard-00-02.nqpzvnd.mongodb.net:27017/?ssl=true&replicaSet=atlas-pmevl2-shard-0&authSource=admin&appName=Cluster0

JWT_SECRET=KrutiElectronics@2026#JWT


PORT=3000